/* GLOBAL */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
footer {
	height: 100vh;
	display: flex;
	justify-content: center;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

/* HOJA DE LOGIN */

.login {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 50vh;
	width: 50vh;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

.login {
	position: relative;
	top: 150px;
	border: none;
	box-shadow: 14px 14px 68px #a6dcf5, -14px -14px 68px #ffffff;
}

.login h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;
	color: rgb(33, 140, 247, 0.4);
	margin-bottom: 20px;
	z-index: 10;
}


/* COMPONENTE FOOTER */

.foot {
	/* background-color: #f4ecec; */
	box-shadow: 5px 5px 36px #e7dbdb, -5px -5px 36px #ffffff;
	position: fixed;
	width: 98vw;
	height: 10vw;
	display: flex;
	position: relative;
	bottom: -70px;
	justify-content: flex-start;
	align-items: center;
	padding-left: 130px;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-weight: 300;
}

.foot img {
	width: 120px;
	height: 120px;
	border-radius: 99%;
}
.foot p {
	z-index: 2;
	color: rgb(125, 208, 241);
	font-family: Roboto;
	padding: 50px;
}
.foot:hover p {
	color: #8c63ec;
}


/* COMPONENTE NAVBAR */

.Navbar {
	/* background-color: #f4ecec; */
	box-shadow: 10px 10px 10px #f5efef, -10px -10px 10px #ffffff;
	position: fixed;
	width: 98vw;
	height: 5vw;
	display: flex;
	position: relative;
	bottom: 30px;
	margin-top: 50px;
	justify-content: flex-start;
	align-items: center;
	padding-left: 130px;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-weight: 300;
	text-decoration: none;
}

.Navbar img {
	width: 50px;
	height: 50px;
	border-radius: 99%;
}


.Navbar h5 {
	color: rgb(125, 208, 241);
	font-family: Roboto;
	padding: 50px;
	font-weight: 600;
	font-size: medium;
}

.Navbar a:hover {
	color: #1383df;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
}

.mul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 500px;
	padding-left: 200px;
}


.icons {
	display: flex;
	justify-content: space-between;
	/* background-color: #8c63ec; son de navbar*/
	padding-left: 115px;
	width: 260px;
}

.logout {
	cursor: pointer;
}

.logout:hover {
	color: #1383df;
	border-radius: 25px;
	border: #63aaec 1px solid;
}

.darkthemeicon {
	cursor: pointer;
}

.darkthemeicon:hover {
	color: #1383df;
	border-radius: 25px;
	border: #63aaec 1px solid;
}



/* PAGINA HOME */

.containerhome {
	/* background-color:#8c63ec; */
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px;
	font-family: Roboto;
	width: 1320px;
}

.containerhome h1 {
	padding-bottom: 50px;
	color: rgb(106, 206, 245);
}

.containerdoc {
	box-shadow: 10px 10px 10px #f1eaea, -10px -10px 10px #faf6f6;
	display: flex;
	flex-direction: row;
	margin: 20px;
	height: 70px;
	border-radius: 50px;
	align-items: center;
}

.containerdoc:hover {
	background-color: rgb(160, 180, 236, 0.5);
}

.containerdoc p {
	text-align: justify;
	width: 200px;
	color: rgb(40, 76, 90);
	font-size: 20px;
	position: relative;
	left: 150px;
}

.iconprofile {
	position: relative;
	left: 85px;
}
.iconstar {
	/* background-color: #1383df; */
	position: relative;
	left: 750px;
}
.iconarrow {
	/*   background-color: #8c63ec; */
	position: relative;
	left: 750px;
}


/* sin completar diseño */
/* PAGINA DE CONTACTOS*/

.boxcontactos {
/* 	background-color: #1383df; */
	height: 240px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 25px;
}

.boxcont1 {
	background-color: white;
	box-shadow: 10px 10px 10px #f1eaea, -10px -10px 10px #faf6f6;
	width: 300px;
	height: 200px;
	text-align: center;
	border-radius: 25px;
}

.boxcont1 p, .boxcont1 h2 {
    position: relative;
	top: 73px;
}

#form{
   display: flex;
   flex-direction: row;
   background-color: #b3d5fd;
   box-shadow: 15px 15px 15px #f1eaea, -15px -15px 15px #faf6f6;
   width: 770px;
   height: 200px;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 25px;
}

.formplaceholders{
   height: 70px;
   width: 270px;
   border-radius: 20px;
   border: none;
   text-align:left;
   /* margin: 25px; */

}

.formplaceholders input{
   position: relative;
   top: -15px;
   height: 30px;
   width: 250px;
   margin: 5px;
   border: #8fc4f0 solid 1px;
   border-radius: 20px;
   padding: 12px;
   color: #1383df;
}


.btncontform{
  background-color: #47b0e0;
  height: 35px;
  width: 70px;
  border-radius: 20px;
  border: none;
  color: #f7f9fa;
  position: relative;
  left: 90px;

}
.btncontform:hover{
  background-color: #0e5b92;
}

/* .formsmsbox{
   background-color: #a6dcf5;
   text-align: center;
   width: 370px;
   height: 200px;
   border-radius: 25px;
} */
.formsmsbox{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 15px;
  width: 200px;
  position: relative;
  top: -15px;
  color: #0e5b92;
}